<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Elk World</title>
	<style>
		.point {
			display: inline-block;
			width:30px;
			height:30px;
			text-align:center;
			font-family: monospace;
			color: black;
		}
		.milling-around {
			background-color: rgba(0, 0, 255, 1);
			color: white;
		}
		.moving-to-food {
			background-color: rgba(0, 255, 0, 1);
			color: black;
		}
		.moving-to-shelter {
			background-color: rgba(255, 0, 0, 1);
			color: white;
		}
		.eating {
			background-color: rgba(255, 255, 0, 1);
			color: black;
		}
		.rutting {
			background-color: rgba(0, 255, 255, 1);
			color: black;
		}
		.searching {
			background-color: rgba(255, 0, 255, 1);
			color: white;
		}

		.tree {
			background-image: url('pine-and-other.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
		.grass {
			background-image: url('Grass-300x300.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
		.wall {
			background-image: url('tree_mountain-512.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
		.elk {
			background-image: url('elkt.gif');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
		.wolf {
			background-image: url('wolf.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
		.den {
			background-image: url('cave-icon.png');
			background-repeat: no-repeat;
			background-size: 30px 30px;
		}
	</style>
</head>
<body>
	{{{body}}}
</body>
</html>