<div>
	<button type="button" onClick="step()">Step</button>
	<button type="button" onClick="start()">Start</button>
	<button type="button" onClick="stop()">Stop</button>
	<button type="button" onClick="reset()">Reset</button>

	<div id="world">{{{initialWorld}}}</div>
</div>
<script>
	function getStep() {
		return fetch('/step').then(response => response.text());

	}
	function renderWorld(world) {
		document.getElementById('world').innerHTML = world;
		return;
	}

	let isRunning = false;
	let stepSpeed = 500;
	function run() {
		if (isRunning) {
			getStep()
			  .then(renderWorld)
			  .then(() => {
			  	setTimeout(run, stepSpeed);
			  });
		}
	}
	function step() {
		getStep().then(renderWorld);
	}
	function start() {
		if (isRunning === false) {
			isRunning = true;
			run();
		}
	}
	function stop() {
		isRunning = false;
	}
	function reset() {
		fetch('/reset')
			.then(response => response.text())
			.then(renderWorld);
	}
</script>
